################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

## Removendo os itens de configuração do usuário ##
**/.vs/
**/applicationhost.config
**/*.csproj.user

## Removendo Arquivos BIN e Obj do projeto e subprojetos ##
*/[Bb]in/*
*/[Oo]bj/*
*/[Oo]bj/[Dd]bug*
**\DesignTimeResolveAssemblyReferencesInput.cache

## Removendo arquivos da Pasta Packege ##
**/packages

## Removendo arquivos do DataTools ##
*.dbmdl
**/*.jfm
**/*.sqlproj.user

## Removendo arquivos do publicação ##
**/*.pubxml
**/*.pubxml.user