@model SGCFT.Apresentacao.Models.HomeViewModel
@{
    ViewBag.Title = "Home";
}

<!-- Meet Alice-->
<section class="section section-md bg-gray-100 text-center">
    <div class="container">
        <div class="badge wow fadeIn">Treinamentos</div>
        <h3 class="wow fadeIn">Treinamentos em destaques</h3>
        <div class="row row-30 row-xl-60">
            @if (Model.ListaPrincipaisTreinamentos == null || !Model.ListaPrincipaisTreinamentos.Any())
            {
                <div class="col-sm-6 col-lg-4">
                    <!-- Box Modern-->
                    <article class="box-modern wow fadeIn" data-anime="circles-2">
                        <div class="box-modern-media">
                            <div class="box-modern-icon mdi mdi-video"></div>
                            <div class="box-modern-circle box-modern-circle-1"></div>
                        </div>
                        <p class="box-modern-title">Treinamento</p>
                        <div class="box-modern-text">
                            <p>Nenhum vídeo cadastrado ainda</p>
                        </div>
                    </article>
                </div>
            }
            else
            {
                foreach (var item in Model.ListaPrincipaisTreinamentos)
                {
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">
                            <div class="box-modern-media">
                                <div class="box-modern-icon mdi mdi-video"></div>
                                <div class="box-modern-circle box-modern-circle-1"></div>
                            </div>
                            <p class="box-modern-title">
                                <a href="@Url.Action("Exibicao", "Treinamento", new { tema = item.Tema.ToURLCustomizada(), id = item.Id })">@item.Tema</a>
                            </p>
                            <p class="box-modern-text">@item.NomeAutor</p>
                            <div class="box-modern-text">@item.Duracao</div>
                        </article>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- About App-->
<section class="section section-xl bg-accent">
    <div class="container">
        <div class="row row-50 justify-content-center flex-lg-row-reverse align-items-center justify-content-lg-between">
            <div class="col-sm-10 col-lg-5 wow fadeInRightSmall">
                <div class="badge">About Businet</div>
                <h3>A Few Words About Us</h3>
                <p class="big inset-2">Our consulting company is a leading firm of business managers and advisors with offices across the USA. We aim to provide you:</p>
                <ul class="list-marked">
                    <li>Quality research & analysis</li>
                    <li>Business advisory experience</li>
                    <li>Reliable company management</li>
                </ul><a class="button button-primary button-shadow button-winona font-weight-sbold" href="about-us.html">Read more</a>
            </div>
            <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
                <div class="thumbnail-classy">
                    <div class="thumbnail-classy-image bg-image" style="background-image: url(images/web-app-1-650x500.jpg);"></div>
                    <div class="thumbnail-classy-caption">
                        <a class="thumbnail-classy-button mdi mdi-play" href="https://www.youtube.com/watch?v=I5FlP07kdvM" data-lightgallery="item">
                            <svg class="thumbnail-classy-button-shape" width="86" height="86" viewbox="0 0 88 88" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges">
                                <rect x="1" y="1" width="86" height="86" rx="6" ry="6"></rect>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features-->
<section class="section section-lg">
    <div class="container">
        <div class="row row-50">
            <div class="col-sm-10 col-lg-5 wow fadeInRightSmall">
                <div class="badge">why us</div>
                <h3>Reasons People<br>Choose Businet</h3>
                <p class="big inset-3" style="letter-spacing: .025em">We believe there are many good reasons for you to want to choose us for your business consulting purposes. Here are some of them:</p>
                <ul class="list-marked">
                    <li>Qualified team</li>
                    <li>15+ years of expertise</li>
                    <li>Flexibility and dedication</li>
                </ul>
            </div>
            <div class="col-sm-10 col-lg-7 wow fadeInLeftSmall text-center">
                <img class="img-custom" src="images/home-01-610x432.png" alt="" width="610" height="432" />
            </div>
        </div>
    </div>
</section>
<!-- About our messenger-->
<section class="section parallax-container section-md bg-accent" data-parallax-img="images/bg-image-4.jpg" id="about-us">
    <div class="parallax-content">
        <div class="container">
            <div class="row row-50 justify-content-end">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="block-5 wow clipInLeft">
                        <div class="badge wow clipInLeft">What We Work On</div>
                        <h3 class="wow clipInLeft" data-wow-delay=".1s"><span>Browse Our Latest</span><br><span class="text-accent">Consulting Projects</span></h3>
                        <p class="big wow clipInLeft inset-3" data-wow-delay=".2s">Our team has worked on a wide variety of consulting and management projects since our establishment. Take a look at some of them in our project gallery.</p><a class="button button-default button-winona wow clipInLeft font-weight-sbold" href="#" data-wow-delay=".3s">View Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- People Ready to Change the World-->
<section class="section section-md text-center bg-white">
    <div class="container">
        <div class="badge">Meet our team</div>
        <h3>Our Professional Team</h3>
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-carousel_profile-modern" data-items="1" data-sm-items="2" data-lg-items="3" data-xl-items="4" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="images/team-1-369x315.jpg" alt="" width="369" height="315" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Vanessa Cristina</h4>
                        <p class="profile-modern-position">Managing Director</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="images/team-2-369x315.jpg" alt="" width="369" height="315" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Amanda Mendonça</h4>
                        <p class="profile-modern-position">Executive Consultant</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="images/team-3-369x315.jpg" alt="" width="369" height="315" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Gregory Smith</h4>
                        <p class="profile-modern-position">Safety Consultant</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="images/team-4-369x315.jpg" alt="" width="369" height="315" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Jennifer Bailey</h4>
                        <p class="profile-modern-position">Associate Consultant</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="images/team-6-369x315.jpg" alt="" width="369" height="315" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Larry Turner</h4>
                        <p class="profile-modern-position">Marketing Manager</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="images/team-5-369x315.jpg" alt="" width="369" height="315" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Amy Wright</h4>
                        <p class="profile-modern-position">Accountant</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="images/team-7-369x315.jpg" alt="" width="369" height="315" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Keith Watson</h4>
                        <p class="profile-modern-position">PR Manager</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="images/team-8-369x315.jpg" alt="" width="369" height="315" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Tina Scott</h4>
                        <p class="profile-modern-position">Office Manager</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>