@model SGCFT.Apresentacao.Models.PerguntaViewModel
@{
    ViewBag.Title = "Cadastro de perguntas";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

<section class="section section-md bg-gray-100">
    <div class="container">
        @if (ViewBag.Sucesso != null)
        {
            if ((bool)ViewBag.Sucesso)
            {
                <div class="alert alert-success" role="alert">Pergunta cadastrada com sucesso</div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (string mensagem in ViewBag.Mensagens as List<string>)
                    {
                        @mensagem
                        <br />
                    }
                </div>
            }
        }

        <h3 class="text-center">Cadastro de Perguntas</h3>

        @using (Html.BeginForm("Index", "Pergunta", FormMethod.Post, new { id = "formPergunta", @class = "rd-form" }))
        {
        <div class="row row-x-16 row-20">
            <div class="col-md-6">
                <div class="form-wrap">
                    @Html.TextBoxFor(x => x.Texto, new { id = "txtTexto", @class = "form-input", autocomplete = "off" })
                    <label class="form-label" for="txtTexto">Texto</label>
                    <label class="warning">@Html.ValidationMessageFor(x => x.Texto)</label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-wrap form-button">
                    <button class="button button-block button-primary" type="submit">Salvar</button>
                </div>
            </div>
        </div>
        }
    </div>
</section>
